.nav {
	border: 1px solid #48da37;
	color: white;
	border-radius: 10px;
	overflow-x: scroll;
	padding: 4px;
	width: 45rem;
	display: block;
	margin: auto;
	display: flex;
	align-items: center;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.nav::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.nav {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

.horizontal {
	background-color: #c8ffc2;
	height: 2.1rem;
	border-radius: 40%;
	padding: 5px;
}

.horizontal:hover {
	transform: scale(1.2);
}

.nav h2 {
	cursor: pointer;
	margin-left: 30px;
	margin-right: 30px;
	font-weight: 500;
	opacity: 0.7;
	transition: transform 50ms ease-out;
	font-size: 1rem;
}

.nav h2:hover {
	/* target the h2 in the nav class
    when the user hovers over this element
    change the opacity of the element 
    from opacity: 0.7 (which was set previously - check styles for .nav h2)
    to opacity: 1 */
	opacity: 1;
	transform: scale(1.2);
}
