.videoCard {
	border: 1px dotted white;
	color: white;
	width: 340px;
	height: 400px;
	padding: 20px;
	transition: transform 100ms;
}

.videoCard:hover {
	transform: scale(1.09);
}

.videoCard img {
	height: 255px;
	object-fit: cover;
	width: 320px;
}

.videoCard_stats {
	/* the videocard stats, in VideoCard.js
	contains the release date and movie votes.
	It is hidden here because we want the stats
	to only appear when the videoCard is hovered over. */
	display: flex;
	justify-content: space-between;
	background-color: red;
	width: 100%;
	display: none;
}

.videoCard:hover > .videoCard_stats {
	/* when the videoCard gets hovered over
	access the element that has the class videoCard_stats
	and change the display rules of that element
	from display:none
	to display:inline */
	display: inline-flex;
}
